<nav class="bg-dark mb-4 py-3 px-4 rounded shadow-sm">
  <div class="d-flex align-items-center">
    <a href="{% url 'word_list' %}" class="btn btn-sm btn-secondary shadow-sm me-3 px-3">Lista słówek</a>
    <a href="{% url 'flashcard_list' %}" class="btn btn-sm btn-secondary shadow-sm me-3 px-3">Lista aktywnych fiszek</a>
    <a href="{% url 'word_create' %}" class="btn btn-sm btn-success shadow-sm me-3 px-3">+ Dodaj słówko</a>
    <a href="{% url 'word_next_redirect' %}" class="btn btn-sm btn-primary shadow-sm me-3 px-3">&rarr; Następne słówko</a>
  </div>
</nav>
