<nav class="bg-dark mb-4 py-3 px-4 rounded shadow-sm">
  <div class="d-flex align-items-center">
    <a
      href="{% url 'sentence_form' %}"
      class="btn btn-sm btn-success shadow-sm me-3 px-3"
    >
      + Dodaj tłumaczenie
    </a>

    <a
      href="{% url 'sentence_revision_list' %}"
      class="btn btn-sm btn-secondary shadow-sm me-3 px-3"
    >
      Lista rewizji
    </a>

    <a
      href="{% url 'word_list' %}"
      class="btn btn-sm btn-secondary shadow-sm me-3 px-3"
    >
      Lista słówek
    </a>
    <a
      href="{% url 'flashcard_list' %}"
      class="btn btn-sm btn-secondary shadow-sm me-3 px-3"
    >
      Lista aktywnych fiszek
    </a>

    <a
      href="{% url 'word_create' %}"
      class="btn btn-sm btn-success shadow-sm me-3 px-3"
    >
      + Dodaj słówko
    </a>
  </div>
</nav>
